.button {
  display: flex;
  min-width: 132px;
  min-height: 50px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  gap: 5px;
  max-width: 100%;
  background: var(--color);
  color: var(--white);
  font-size: 16px;
  padding: 10px 20px;
  font-weight: 600;
  letter-spacing: 0.5px;
  border: none;
  border-radius: 6px;
  margin: 0 auto;
  margin-top: 10px;
  cursor: pointer;
  transition: 0.3s;
}

.button:hover {
  background: var(--color-hover);
}
